.navbar { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px;
    background: transparent;
    width: 100%;
    font-weight: bold;
}

.image {
    width: 100px;
    height: 100px;
}

.navlinks {
    display: flex;
    justify-content: space-around;
    align-items: center;
    li {
        display: inline-block;
        margin: 0 20px;
        font-size: 1.5rem;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        a {
            text-decoration: none;
            color: rgb(255, 255, 255);
            &:hover {
                color: rgba(255, 255, 255, 0.7);
            }
        }
    }
}

.logout {
    button {
        padding: 10px 20px;
        border-radius: 5px;
        border: 1px solid rgba(255, 255, 255, 0.7);
        background: transparent;
        color: white;
        font-size: 1.2rem;
        cursor: pointer;
        font-weight: bold;
        &:hover {
            color: rgba(255, 255, 255, 0.7);
        }
    }
}