.BudgettingContainer {
    position: relative;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.7);
    border-radius: 15px;
    margin: 50px;
    min-height: fit-content;
    color: rgb(255, 255, 255);
}

.Header2 {
    font-size: 3rem;
    width: 90%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 20px 5%;
}

.InputContainer {
    background: transparent;
    border-radius: 15px;
    border: 1px solid white;
    box-shadow: 0 0 10px gray;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    padding: 5%;
    margin: auto;
    font-size: 1.5rem;
    div {
        width: 100%;
    }
    input {
        font-size: 1rem;
        border-radius: 5px;
        width: 60%;
        height: 50px;
        margin: 10px 0;
        padding: 0 10px;
        font-size: 1.5rem;
        outline: none;
    }
}

.GraphContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60vh;
    padding: 5%;
}

