.registerContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.registerForm {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 500px;
    background-color: rgb(46, 46, 46);
    padding: 20px;
    border-radius: 15px;
    a {
        color: white;
    }
    &::after, &::before {
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        top: 50%;
        left: 50%;
        background: red;
        z-index: -1;
        translate: -50% -50%;
        padding: 5px;
        border-radius: 15px;
        background-image: conic-gradient(rgb(255, 97, 97), lime, rgb(55, 228, 255), rgb(107, 107, 255), rgb(255, 97, 97));
    }
    &::before {
        filter: blur(1.5rem);
    }
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    input, button {
        margin: 10px 0;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
    }
    button {
        cursor: pointer;

        &:hover {
            background-color: rgb(255, 166, 0);
        }
    }
}